@import "tailwindcss";
@source "../../packages/ui/src/**/*.tsx";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
  }
}
